.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
    border: 0.2em solid #CCC;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(217, 208, 193);
}

.register-form {
    transform: translateX(5%);
    width: 65%;
}

.email-label,
.password-label {
    text-align: start;
}

.checkbox {
    text-align: start;
}

.register-btn {
    margin-left: 30%;
    margin-top: 5%;
    background-color: orange;
    color: black;
    width: 7em;
}