@{
    ViewData["Title"] = "Home Page";
}


<div class="header-images">

    <div class="column-1">
        <img class="left-img" src="~/Content/Images/logo-metamodul (ORIGINAL).jpg" />
        <img class="left-img" src="~/Content/Images/cng-panel.jpg" />
    </div>

    <div class="column-2">
        <img class="right-img" src="~/Content/Images/header_index.jpg" />
    </div>

</div>



<h2 class="first-heading about-us-heading text-center">Професионален профил на екипа</h2>


<div class="text-center about-us-div">

    <p>Професионалният профил на екипа на проекта е формиран от специфични дейности по изграждането, експлоатирането и поддържането на собствени центрове и газ станции за компресиране и последващо стационарно и мобилно (виртуално) газоснабдяване с компресиран природен газ (КПГ) на промишлени, обществени и битови обекти (вкл. зареждане на автомобили).</p>
    <p>"МЕТАМОДУЛ ТРЕЙД" ЕООД притежава значителен научен, технически и организационен опит (придобит и апробиран чрез няколко годишна сериозна практика) и "ноу-хау" по затваряне на пълния цикъл на виртуалното газоснабдяване – от обосновката на необходимостта и идеята, през изграждането на базата и въвеждането в действие на оборудването (с абсолютно всички действия по разрешаване, сертифициране и пуск на отделните подсистеми), до пълната поддръжка, експлоатация и ремонт.</p>
    <p>"МЕТАМОДУЛ ТРЕЙД" ЕООД предлага и комплексни практически схеми и тяхното изпълнение за преустройство на горивните бази в промишлени и отоплителни обекти от течни или твърди горива на природен газ, което позволява да се обслужва широка гама клиенти в най-отдалечени от постоянния газопровод точки.</p>

</div>

<h2 class="second-heading about-us-heading text-center">Ползи за клиентите</h2>
<span class="border"></span>


<div class="text-center about-us-div">

    <p>– ИКОНОМИЧЕСКИ ЕФЕКТ:: значително по-ниски финансови разходи за енергия – до 40 на сто в сравнение с разходите за традиционните енергоносители: мазут, дизел, пропан-бутан и др.;</p>
    <p>– ЕКОЛОГИЧЕН ЕФЕКТ: с използването на КПГ вместо твърди горива (дърва, въглища), течни горива - мазут (корабно гориво) или дизел се постига силно намаляване на вредните емисии във въздуха;</p>
    <p>– СОЦИАЛЕН ЕФЕКТ: Виртуалното (мобилното) газоснабдяване позволява да се обхванат значително по-голям брой потребители, в т.ч. и битови, които да могат да реализират икономии от разходи за различните видове енергия, използвана за производство и отопление;</p>
    <p>– СУМАРЕН ЕФЕКТ: С преимущественото ползване на КПГ, като алтернативен енергиен източник, се постига и значително намаляване на потреблението на скъпата електрическа енергия.</p>

</div>


@section Styles {
    <link rel="stylesheet" href="~/css/about-us.css" />
}