
@{
    ViewData["Title"] = "Детайли";
}



<div class="card" >
    <div class="row g-0">
        <div class="col-md-5">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAAAJH2rx303IXOHxcp3Xrxd8R8Fsok21tKQ&usqp=CAU" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="card-body col-md-7">
                <h5 class="card-title">Card title</h5>
                <p class="card-text card-desc">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text card-foot"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>



@section Styles {
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/post-details.css" />
}