@{
    ViewData["Title"] = "Услуги";
}



<h2 class="first-heading sub-heading text-center">Идеята на продукта "Виртуално газоснабдяване"</h2>


<div class="text-center container-div">

    <p><strong>Виртуално газоснабдяване</strong> (мобилно газоснабдяване) с <strong>компресиран природен газ (КПГ)</strong> се прави там, където постоянната тръба на газопреносната или газоразпределителната мрежа по някакви причини (скъпи инвестиции, неподходящ земен терен, лоша инфраструктура и др.) не може да стигне пряко до клиента.</p>
    <p>Виртуалната <em>(от лат. "като истинска")</em> тръба дава възможност мобилно чрез <strong>специализиран транспорт и съоръжения</strong> да се осъществява връзка между източника на природен газ на постоянната тръба до горивната система на промишления или битов потребител.</p>
    <p><strong>Виртуалното газоснабдяване</strong> заема около <strong>4-5%</strong> от общото потребление в страната с годишна тенденция на нарастване.</p>
</div>


<h2 class="second-heading sub-heading text-center">Доставка на компресиран природен газ</h2>

<div class="text-center container-div">

    <p>Процесът на доставка на природен газ се осъществява, чрез неговото компресиране под високо налягане в бутилкови групи и транспортиране до отделните <strong>промишлени и обществени обекти</strong>, където природния газ се декомпресира и захранва горивните инсталации на обектите. Този процес на доставка на природен газ позволява точково снабдяване на отдалечени от газопровод обекти, което <strong>значително ще подобри</strong> тяхната енергийна, икономическа и екологична ефективност.</p>
    <p>Обществените и промишлени потребители при замяна на горивната си база от течни горива – дизел или газьол с природен газ, ще <strong>намалят преките си финансови разходи с 40–50%</strong>, ще постигнат сериозен екологичен ефект, спестявайки на околната среда огромни количества въглероден диоксид, които се отделят при горенето на течни горива, ще се позволи автоматизация на процеса на потребяване на природен газ и не на последно място <strong> ще се изключи възможността за нелегално придобиване на течни горива от трети лица.</strong></p>

</div>


<h2 class="third-heading sub-heading text-center">Системна карта на виртуален газопровод <br /> за доставка на компресиран природен газ</h2>

<div>
    <img src="~/Content/Images/virtual_cng-web.jpg" class="map-img" />

</div>


@section Styles {
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/services.css" />
}