
@{
    ViewData["Title"] = "Сравни";
}



<h2 class="first-heading sub-heading text-center">Основни балансови сравнения и икономия при преминаване на природен газ в индустрията</h2>


<div class="text-center container-div">

    <p>Гарантирано е че при ползването на компресиран природен газ за <strong>промишлени и обществени обекти значително ще се подобри</strong> тяхната енергийна, икономическа и екологична ефективност. Обществените и промишлени потребители при замяна на горивната си база от течни горива – дизел или газьол с природен газ, ще <strong>намалят преките си финансови разходи с цели 40–50%,</strong> да не говорим за сериозния екологичен ефект!</p>
    <p><strong>Икономията от въвеждане на природен газ се формира от няколко основни критерия за сравнение към останалите горива:</strong></p>
</div>

<div>

    <img src="~/Content/Images/balance.jpg" />

</div>


@section Styles {
    <link rel="stylesheet" href="~/css/compare.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
}
