
@{
    ViewData["Title"] = "Нашите метан станции";
}


<h2 class="first-heading sub-heading text-center">Нашите метан станции</h2>

<ul>
    <li>
        <p>Метан станция с. Разлив (общ. Правец) до автомагистрала "ХЕМУС"</p>
        <iframe src="https://www.google.com/maps/d/embed?mid=1qX6yiXohMreujWbd-vZ3rMtoPcQ&amp;hl=en_US&amp;ll=42.90703779119099%2C23.89506973541455&amp;z=13"></iframe>
    </li>
    <li>
        <p>Метан станция - гр. София, ул. "Каменоделска" 10, до Института по хладилна техника.</p>
        <iframe src="https://www.google.com/maps/d/embed?mid=1qX6yiXohMreujWbd-vZ3rMtoPcQ&amp;hl=en_US&amp;ll=42.70940598914245%2C23.33824957216648&amp;z=15"></iframe>
    </li>
    <li>
        <p>Метан станция - гр. Перник, кв. "Кристал"</p>
        <iframe src="https://www.google.com/maps/d/embed?mid=1qX6yiXohMreujWbd-vZ3rMtoPcQ&amp;hl=en_US&amp;ll=42.6006502477169%2C23.02350423740388&amp;z=13"></iframe>
    </li>
</ul>




@section Styles {
    <link rel="stylesheet" href="~/css/stations.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
}
