.header-images {
    max-width: 100%;
    display: flex;
    margin-bottom: 5em;
}

.header-images img {
    width: 100%;
    height: auto;
}

.column-1 {
    flex: 0.5656;
}

.column-2 {
    flex: 1.643;
}


.first-heading::after {
    width: 53%;
}

.second-heading::after {
    width: 31%;
}


