body {
}


.edit-btn,
.delete-btn {
    text-decoration: none;
    color: black;
    background-color: orange;
}


.changeButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-bottom: 1em;
}