.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border: 0.2em solid #CCC;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(217, 208, 193);
    flex-direction: column;
}

.login-form {
    transform: translateX(5%);
    width: 65%;
}


.email-label,
.password-label {
    text-align: start;
}

.checkbox {
    text-align: start;
}

.login-btn {
    margin-left: 30%;
    margin-top: 5%;
    background-color: orange;
    color: black;
    width: 2.5em;
    margin: 0 auto;
    margin-top: 1em;
}


.login-title {
    flex: none;
}

