main {
    margin-top: 2em;
}

body {

}

ul {
    list-style: none;
}

p {

    font-size: 1.6em;
    font-weight: bold;
   text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
    margin-bottom: 4.5em;
    width: 34em;
    height: 24em;
}


